.header {
    &__background {
        height: 5rem;
        width: 10rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__button {
        outline: none !important;

    }


    &__nav {
        z-index: 1000;
        left: 0;
        background: rgba(255, 255, 255, 0.9);

    }

    &__video {
        width: 100vw;
        filter: brightness(50%) saturate(70%);

        height: 100vh;
        object-fit: cover;

        &-cont {
            height: 100vh;

        }
    }


    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        color: $color-white;
        font-family: $font-decorative;
    }
}

@include media-breakpoint-up(xs) {
    .header {

        &__heading {top: 55%;}
    }
}

@include media-breakpoint-up(md) {
    .header {
        &__heading {font-size: $font-size + 2rem;
        top: 52%;
        }
    }
}
