//fonts
$font-primary: "Muli", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-decorative: "Ubuntu", sans-serif;
$font-size: 1rem;

//colors 
$color-blue-primary: #0E426D;
$color-blue-secondary: #0073A0;

$color-white: #FDFDFD;
$color-light: #F2F2F2;
