
.first-section{
    transform: translateY(-1px);
    width: 100vw;
    background: url(/images/first-article/background.svg) ;
    background-attachment: fixed;
    background-position: left;
    background-repeat: repeat-y; 
    background-size: 100%;
    &__heading{
        font-family: $font-primary;
    }
}