.hamburger{
    z-index: 100;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-top: 1.5rem;
    vertical-align: middle;

    &__expanded{
         .hamburger__bar{
             &--first{
                transform: rotate(45deg) translate(4.5px, 6px);
             }
             &--second{
                 opacity: 0;
             }
             &--third{

                transform: rotate(-45deg) translate(6px, -6.5px);
             }
        }
    }
    &__bar{
        transition: .7s all;
        transition-timing-function: cubic-bezier(.31,-0.63,.63,1.41);
        cursor: pointer;
        right: 2rem;
        width: 2rem;
        position: fixed;
        height: 3.6px;
        border-radius: 100px;
        background: black;
        &--first {    
            margin-top: -.5rem;
        }
        &--third {
            margin-top: .5rem;
        }
    }
}
.dropdown-menu{
    transition: 1s all;
}