.ofert-section {
    background: $color-light;

    @include media-breakpoint-up(md) {
        background-size: cover;
        &--first{
            background: url(../images/ofert/bg2.jpg) no-repeat fixed center;
            background-size: cover;
            
        }
        &--second{
            background: url(../images/ofert/bg3.jpg) no-repeat fixed center;
            background-size: cover;
        }

        &--third{
            background: url(../images/ofert/bg4.jpg) no-repeat fixed center;
            background-size: cover;
            
        }
        
    }

    &__heading {
        font-size: $font-size + 1rem;
        font-family: $font-secondary;
        margin: 0;
        background: rgba(13, 19, 33, 0.9);
    }

    &__image {
        object-fit: cover;
       max-height: 27rem;

        &--double {
            height: 12rem;

            @include media-breakpoint-up(sm) {
                height: 19rem;
            }
        }
    }

    &__card-body {
        background: transparent;
    }

    &__paragraph {
        font-family: $font-primary;
        font-size: $font-size;
    }

    &__header {
        font-family: $font-primary;
        font-weight: bold;

    }

    &__card {
        background: rgba(255, 255, 255, 0.8);
        padding: 0;
        border: none;

    }

    &__btn {
        font-family: $font-secondary;

    }
}
