.ofert-section {
    background: $color-light;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
        background-size: cover;

        &--first {
            background: url(../images/ofert/bg2.jpg) no-repeat fixed center;
            background-size: cover;

        }

        &--second {
            background: url(../images/ofert/bg3.jpg) no-repeat fixed center;
            background-size: cover;
        }


    }

    &__heading {
        font-size: $font-size + 1rem;
        font-family: $font-secondary;
        margin: 0;
        background: rgba(13, 19, 33, 0.9);
    }

    &__link {
        min-height: 15rem;
        &-d {
            min-height: 12.6rem;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        min-height: 15rem;
        object-fit: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &--double {
            height: 12rem;
            object-fit: cover;
            min-height: auto;

            @include media-breakpoint-up(sm) {
                height: auto;
                object-fit: contain;
            }
        }

        &--second {
            height: 25rem;
            object-fit: cover;

        }
    }

    &__card-body {
        background: transparent;
    }

    &__paragraph {
        font-family: $font-primary;
        font-size: $font-size;
    }

    &__header {
        font-family: $font-primary;
        font-weight: bold;

    }

    &__card {
        background: rgba(255, 255, 255, 0.8);
        padding: 0;
        border: none;

        &--fullSize {
            background: rgba(0, 0, 0, 0.8);
        }

    }

    &__btn {
        font-family: $font-secondary;

    }
}