.first-section {
    width: 100vw;
    background: url(../images/first-section/background2.svg);
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: 100%;

    &__heading {
        font-family: $font-primary;
        font-size: $font-size + 0.7rem;
        font-weight: 900;
    }

    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        box-sizing: content-box;
        padding-bottom: 1.5rem;
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.2);
        }
    }

    &__title {
        margin-bottom: 1.5rem;
        color: $color-blue-primary;
    }

    &__desc {
        padding: 0 1rem;
        color: $color-blue-secondary;
    }
}