.products {

    &__card {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        height: auto;

    }

    &__image {
        border-radius: 5px 5px 0 0;
        padding: 0;
        object-fit: cover;
        cursor: zoom-in;

        @include media-breakpoint-up(md) {
            height: 400px;
            width: 400px;
            object-fit: fill;
            border-radius: 5px 0 0 5px;
            &--additives{
                height: 500px;
            }
        }
    }

    &__heading {
        font-weight: 500;
        text-transform: capitalize;
        &::first-letter{
            font-family: $font-secondary;
            font-size: 2.2rem;
        }
        @include media-breakpoint-up(md) {
            font-weight: 600;
        }
    }

    &__body {

        border-radius: 0 0 4px 4px;
        border-top: 1px dotted $color-grey;

        @include media-breakpoint-up(md) {
            border-radius: 0 5px 5px 0;
            border: none;
        }
    }

    &__price {
        color: $color-blue-primary;
        font-weight: 600;
    }

    &__list-point {
        display: flex;
        flex-direction: row;
        text-decoration: underline;
        line-height: 25px;
        justify-content: center;
        list-style: none;
        cursor: pointer;
        @include media-breakpoint-up(md) {
            justify-content: end;
        }

        li {
            display: flex;
            justify-content: center;
            width: 2rem;
            list-style: none;
        }

        &--dots,
        &--active {
            text-decoration: none;
            cursor: auto;
        }

        &--active {
            text-decoration: none;
        }
    }
}

#wrapper {
    padding: 0;

    ul {
        padding: 0;
    }
}