.products{
    
    &__card{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        border-radius: 5px;
    }
    &__image{
        border-radius: 5px 5px 0 0;
        height: 10rem;
        padding: 0;

        object-fit: cover;
        
        @include media-breakpoint-up(md) {
            height: 21rem;
            object-fit: cover;
            border-radius: 5px 0 0 5px;
        }   
    }
    &__heading{
        font-weight: 900;
    }
    &__body{

        border-radius: 0 0 4px 4px;
        border-top: 1px dotted $color-grey;
         
        @include media-breakpoint-up(md) {
            border-radius: 0 5px 5px 0;
            border: none;
        }  
    }
    &__price{
        color: $color-blue-primary;
        font-weight: 600;
    }
}