.reload-page {
    animation-name: reload-page;
    animation-duration: 1s;
    animation-timing-function: ease-in;}
@keyframes reload-page{
    0%{
        opacity: 1;
    }
    1%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}