.zoomed {
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background: rgba(40, 40, 40, 0.8);
    top: 0;
    opacity: 1;
    left: 0;
    transition: .4s opacity;
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;


    &__flayout-placeholder {
        display: none;

        @include media-breakpoint-up(md) {
            width: 30vw;
            background: $color-light;
            margin-left: 1rem;
            display: block;
        }
    }

    &__close {
        width: 2.5rem;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        border-radius: 9999rem;
        margin-right: 1rem;
    }

    &__arrow {
        width: 2.5rem;
        background: white;
        border-radius: 9999rem;
        position: absolute;
        align-self: center;
        z-index: 2;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        margin-top: 3%;

        &--back {

            animation-name: moveArrowLeft;
            left: 5%;


            img {
                transform: translateX(-5%);
            }
        }

        &--forward {
            animation-name: moveArrowRight;
            right: 5%;



            img {
                transform: translateX(5%);
            }
        }
    }

    &__loading {
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-width: 0.5rem;
        z-index: 0;
    }

    &__cont {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
        padding-top: .5rem;
        border-radius: 15px;
        background: white;
        transform: translateY(5%);

        @include media-breakpoint-up(md) {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            width: 80%;
            height: auto;
        }
    }


    &__image {
        width: 100vw;
        height: 70vh;
        z-index: 2;
        object-fit: cover;
        background: transparent;
        @include media-breakpoint-up(sm) {
            width: 90%;
        }
        @include media-breakpoint-up(md) {
            object-fit: cover;
            max-width: 40vw;
        }
    }
}

.easyzoom {
    text-align: center;
    width: 100%;

    @include media-breakpoint-up(md) {
        display: flex;

        max-width: 40vw;
    }

    a {
        height: 70vh;
        width: 100%;
        background: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.easyzoom-flyout {
    display: none;

    @include media-breakpoint-up(md) {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 1rem;
        height: 70vh;
        z-index: 1;
        width: 30vw;
        overflow: hidden;

        img {

            image-orientation: none;
            object-fit: contain;
            vertical-align: bottom;
        }
    }

    img {
        width: 70vw;
    }
}

.no-zoom {
    opacity: 0;
    z-index: -1;
}




.easyzoom.is-loading img {
    cursor: progress;
}

.easyzoom.is-ready img {
    cursor: crosshair;
}

.easyzoom.is-error img {
    cursor: not-allowed;
}

.easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
}

.cont-move-forward {
    animation-timing-function: ease;
    animation-name: contMoveForw;
    animation-duration: 1s;
}

.cont-move-back {
    animation-timing-function: ease;
    animation-name: contMoveBack;
    animation-duration: 1s;
}

@keyframes contMoveBack {

    0%,
    100% {
        transform: translate(0, 5%);
    }

    50% {
        transform: translate(100vw, 5%);
    }

    50.00000001% {
        transform: translate(-100vw, 5%);
    }
}

@keyframes contMoveForw {

    0%,
    100% {
        transform: translate(0, 5%);
    }

    50% {
        transform: translate(-100vw, 5%);
    }

    50.00001% {
        transform: translate(100vw, 5%);
    }

}

@keyframes moveArrowRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15%)
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveArrowLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15%)
    }

    100% {
        transform: translateX(0);
    }
}